:root {
    /* Couleurs */
    --navbar-bgcolor:#81f0f9;
    --footer-bgcolor: linear-gradient(to bottom, #81f0f9, #1a5fb4);
    --translat-color:black;
    --footer-color-p:#1a5fb4;
    --container-bgcolor:#f9f9f9;
    --container-border:#ccc;
    --btn-close:red;
    --btn-close-dark:#71131d;
    --btn-color:white;
    --jumbotron-shadow:rgba(0, 0, 0, 0.5);
    --form-container-bg:rgba(255, 255, 255, 0.6);
    --btn-colour:#ddd;
}